<li>
  <div class="details" style="display:{@hidden}">
      <form method="POST" action="?route=accounts&action=delete" onsubmit="" onreset="" action="">
      <input type="hidden" name="accounts[id]" value="{@accountid}"/>
        <h2>{@accountid}</h2>
        <p>Firstname : {@firstname}</p>
        <p>Sirname : {@sirname}</p>
        <p>Email : {@email}</p>
        <p>Password : {@password}</p>

        <input class="btn" type="submit" value="DELETE"/>
      </form>
    </div>
</li>
